alias "salsamixer"="alsamixer"
alias firefox="GTK_THEME=FlatStudioGray firefox"
alias ls='ls --color=auto'
alias netNMU='sudo netctl start wlp3s0-NMU'
alias squeak='sudo /usr/bin/Squeak/bin/squeak /home/michael/Documents/Squeak5.1-16548-32bit.image' 
alias netHOME='sudo netctl start wlp3s0-NETGEAR84'
